<div class="row">

  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <h5>Find us here</h5>
    <ul>
      <li><a href="https://twitter.com/quantifiedcode" title="Twitter">Twitter</a></li>
      <li><a href="https://github.com/quantifiedcode" title="GitHub">GitHub</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
    <div>
      <p>
        QuantifiedCode - Automated code review and repair
      </p>
    </div>
  </div>
</div>
